<div class="container text-center padded">

<h1>Meet the team</h1>


<div class="text-center">
  <ul class="list-inline">
    <% %w(romain anne seb).each do |member| %>
      <l1>
        <img src="images/<%= member%>.jpg" width="100" class="img-circle" alt="">
        <h3><%= member.capitalize %></h3>
      </l1>
    <% end %>
  </ul>
</div>


  <h3 class="padded">
    <a href="mailto:contact@airbnb.com">
      <i class="fa fa-envelope"></i> contact@airbnb.com
    </a>
  </h3>
</div>
